### INTRO - 
<b> Refer One Note </b>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
autos = pd.read_csv('autos.csv', encoding='Latin-1')

In [3]:
autos.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In [4]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dateCrawled          50000 non-null  object
 1   name                 50000 non-null  object
 2   seller               50000 non-null  object
 3   offerType            50000 non-null  object
 4   price                50000 non-null  object
 5   abtest               50000 non-null  object
 6   vehicleType          44905 non-null  object
 7   yearOfRegistration   50000 non-null  int64
 8   gearbox              47320 non-null  object
 9   powerPS              50000 non-null  int64
 10  model                47242 non-null  object
 11  odometer             50000 non-null  object
 12  monthOfRegistration  50000 non-null  int64
 13  fuelType             45518 non-null  object
 14  brand                50000 non-null  object
 15  notRepairedDamage    40171 non-null  object
 16  dateCreated          50000 non-null  object
 17  nrOfPictures         50000 non-null  int64
 18  postalCode           50000 non-null  int64
 19  lastSeen             50000 non-null  object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

In [6]:
autos.describe(include='all').transpose()

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
dateCrawled,50000,48213,2016-03-19 17:36:18,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
name,50000,38754,Ford_Fiesta,78,NaN,NaN,NaN,NaN,NaN,NaN,NaN
seller,50000,2,privat,49999,NaN,NaN,NaN,NaN,NaN,NaN,NaN
offerType,50000,2,Angebot,49999,NaN,NaN,NaN,NaN,NaN,NaN,NaN
price,50000,2357,$0,1421,NaN,NaN,NaN,NaN,NaN,NaN,NaN
abtest,50000,2,test,25756,NaN,NaN,NaN,NaN,NaN,NaN,NaN
vehicleType,44905,8,limousine,12859,NaN,NaN,NaN,NaN,NaN,NaN,NaN
yearOfRegistration,50000,NaN,NaN,NaN,2005.07,105.713,1000,1999,2003,2008,9999
gearbox,47320,2,manuell,36993,NaN,NaN,NaN,NaN,NaN,NaN,NaN
powerPS,50000,NaN,NaN,NaN,116.356,209.217,0,70,105,150,17700
model,47242,245,golf,4024,NaN,NaN,NaN,NaN,NaN,NaN,NaN
odometer,50000,13,"150,000km",32424,NaN,NaN,NaN,NaN,NaN,NaN,NaN
monthOfRegistration,50000,NaN,NaN,NaN,5.72336,3.71198,0,3,6,9,12
fuelType,45518,7,benzin,30107,NaN,NaN,NaN,NaN,NaN,NaN,NaN
brand,50000,40,volkswagen,10687,NaN,NaN,NaN,NaN,NaN,NaN,NaN
notRepairedDamage,40171,2,nein,35232,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dateCreated,50000,76,2016-04-03 00:00:00,1946,NaN,NaN,NaN,NaN,NaN,NaN,NaN
nrOfPictures,50000,NaN,NaN,NaN,0,0,0,0,0,0,0
postalCode,50000,NaN,NaN,NaN,50813.6,25779.7,1067,30451,49577,71540,99998
lastSeen,50000,39481,2016-04-07 06:17:27,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN